.muirtl-1jn1h23-MuiStepConnector-root .MuiStepConnector-line {
  position: absolute;
  width: 100%;
  z-index: -1;
}

.muirtl-1b5dnv3-MuiStepConnector-root {
  top: 30px !important;
  z-index: -1;
  width: 80% !important;
  right: 0 !important;
  left: 0 !important;
  transform: translateX(50%) !important;
}

.request-service .active-image {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.request-service .active-image img {
  max-width: 90%;
  max-height: 85%;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

.request-service {
  background-color: #f6f7f8;
  padding: 2rem 0;
}
.request-service .title {
  text-align: center;
  margin-bottom: 20px;
}
.request-service .title h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}
.request-service .title p {
  font-size: 1.75rem;
  color: #617589;
}

.request-service .form,
.request-service .summary-order {
  padding: 20px;
  background-color: white;
  border-radius: 9px;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgb(0 0 0 / 0.05);

  width: 60%;
  margin: 0 auto;
}

.request-service .form > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.request-service .form > div label {
  font-size: 1rem;
  font-weight: 600;
  color: #374151;
  margin-bottom: 5px;
}
.request-service .form > div input,
.request-service .form > div textarea,
.request-service .form > div select {
  font-size: 1rem;
  padding: 15px;
  border: none;
  outline: none;
  color: #2f4f4f;
  overflow: hidden;
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 9px;
  transition: 0.3s;
  direction: rtl;
}
.request-service .form > div textarea {
  resize: none;
  max-height: 150px;
  height: 150px;
  overflow-y: auto;
  scrollbar-width: none;
}
.request-service .form > div input:focus,
.request-service .form > div textarea:focus {
  border-color: #137fec;
  outline: #137fec;
}

.request-service .form .image .serv-image {
  width: 100%;
  padding: 15px;
  background-color: #f9fafb;
  border: 2px dashed #d1d5db;
  border-radius: 9px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-direction: column;
  position: relative;
  color: #6b7280;
  height: 200px;

  & h3 {
    margin-bottom: 10px;
    font-size: 1.25rem;
    font-weight: 500;
  }
  & p {
    font-size: 1rem;
  }
  & svg {
    font-size: 1.5rem;
  }
}
.request-service .form .image .serv-image input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.request-service .serv-address input {
  margin-bottom: 15px;
}

.request-service .summary-order {
  margin-top: 20px;
}
.request-service .summary-order h3 {
  font-size: 1.75rem;
  padding-bottom: 15px;
  border-bottom: 1px solid #d1d5db;
}

.request-service .summary-order div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
}

.request-service .summary-order div h4 {
  font-size: 1.25rem;
  color: #6b7280;
}
.request-service .summary-order div p {
  font-size: 1rem;
  font-weight: 600;
}

.request-service .summary-order button {
  width: calc(100%);
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  outline: none;

  background-color: #137fece6;
  font-size: 1.25rem;
  font-weight: 600;
  color: white;
  cursor: pointer;
  border-radius: 9px;
  transition: 0.3s;
}
.request-service .summary-order button:hover {
  background-color: #137fec;
}

.request-service .image-show {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row !important;
  gap: 15px;
  flex-wrap: wrap;
}
.request-service .image-show img {
  height: 100px;
  border-radius: 9px;
  cursor: pointer;
}

@media (width < 1400px) {
  .request-service .form,
  .request-service .summary-order {
    width: 80%;
  }
}

@media (width < 992px) {
  .request-service .form,
  .request-service .summary-order {
    width: 100%;
  }
}

@media (width < 768px) {
  .request-service .title h2 {
    font-size: 1.75rem;
  }
  .request-service .title p {
    font-size: 1.25rem;
  }
  .request-service .form,
  .request-service .summary-order {
    padding: 20px 10px;
  }
  .request-service .form .image .serv-image {
    padding: 10px;

    & h3 {
      font-size: 1rem;
      font-weight: 600;
    }
    & p {
      font-size: 1rem;
      text-align: center;
    }
  }
  .request-service .summary-order h3 {
    font-size: 1.25rem;
  }
  .request-service .summary-order div h4 {
    font-size: 1rem;
  }
  .request-service .summary-order div p {
    font-size: 1rem;
    font-weight: 600;
  }
  .request-service .summary-order button {
    font-size: 1rem;
  }
}
