.send-success {
  padding: 2rem 0;
}
.send-success .title {
  text-align: center;
}
.send-success .title div {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto;
  background-color: #10b98133;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
}
.send-success .title div::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: rgba(16, 185, 129, 0.1);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.send-success .title svg {
  color: #10b981;
  font-size: 2.5rem;
}

.send-success .title h2 {
  font-size: 2.5rem;
  color: #1f2937;
  margin-bottom: 10px;
}
.send-success .title p {
  font-size: 1.75rem;
  color: #6b7280;
  font-weight: 400;
}

@media (width < 992px) {
  .send-success {
    padding-top: 1rem;
  }
  .send-success .title div {
    width: 70px;
    height: 70px;
  }
  .send-success .title div::before {
    width: 90px;
    height: 90px;
  }
  .send-success .title div svg {
    font-size: 2.25rem;
  }
  .send-success .title h2 {
    font-size: 1.75rem;
  }
  .send-success .title p {
    font-size: 1.25rem;
  }
}

.send-success .request-details {
  width: 60%;
  margin: 30px auto;
  padding: 20px;
  background-color: white;
  border-radius: 9px;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgb(0 0 0 / 0.05);
  border: 1px solid #ced4da;
}
.send-success .request-details ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.send-success .request-details ul li:not(:last-child) {
  padding-bottom: 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ced4da;
}
.send-success .request-details ul li span:first-of-type {
  font-size: 1rem;

  color: #6b7280;
}
.send-success .request-details ul li span:last-of-type {
  color: #1f2937;
  font-size: 1rem;
  font-weight: 600;
}

.send-success .request-steps {
  width: 60%;
  margin: 30px auto;
}

.send-success .request-steps h3 {
  font-size: 1.75rem;
  color: #1f2937;
  margin-bottom: 15px;
}
.send-success .request-steps ul li {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin-bottom: 20px;
}
.send-success .request-steps ul li span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3b82f6;
  background-color: #3b82f633;
  font-size: 1rem;
  font-weight: 600;
  width: 30px !important;
  height: 30px !important;
  min-width: 30px;
  border-radius: 50%;
  flex-basis: 30px;
}

.send-success .request-steps ul li {
  flex: 1;
}
.send-success .request-steps ul li h4 {
  font-size: 1.25rem;
  font-weight: 700;
  color: #1f2937;
  margin-bottom: 5px;
}
.send-success .request-steps ul li p {
  font-size: 1rem;

  color: #6b7280;
}

.send-success .request-btns {
  display: flex;
  align-items: center;
  margin: 50px auto 0;
  gap: 15px;
  width: 60%;
}
.send-success .request-btns a {
  width: calc(100%);
  padding: 15px 20px;

  font-size: 1rem;
  font-weight: 600;
  color: white;
  cursor: pointer;
  border-radius: 9px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
}

.send-success .request-btns a:first-child {
  background-color: rgb(16, 185, 129, 0.9);
}
.send-success .request-btns a:first-child:hover {
  background-color: rgb(16, 185, 129);
}
.send-success .request-btns a:last-child {
  color: #6b7280;
  border: 2px solid #e5e7eb;
}
.send-success .request-btns a:last-child:hover {
  background-color: #f3f4f6;
}
@media (width < 1400px) {
  .send-success .request-details,
  .send-success .request-steps {
    width: 80%;
  }
}

@media (width < 992px) {
  .send-success .request-details,
  .send-success .request-steps {
    width: 100%;
  }
}
@media (width < 768px) {
  .send-success .request-btns {
    flex-wrap: wrap;
    width: 100%;
  }
}
