:root {
  --background-page: #f9fafb;
  --haed-size-web: 2.5rem;
  --paragraph-web: 1.75rem;
  --paragraph-color: #6c757d;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif, "Cairo";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Inter", sans-serif, "Cairo";
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

html {
  scroll-behavior: smooth;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 1600px) {
  .container {
    width: 1560px;
  }
}
